{% extends "base.html" %}

{% block content %}
<div class="bg">

</div>

		<div class = "container mt-5">
      <div class="row row-cols-1 row-cols-md-3 mt-5">
        {% for event in events %}
        <div class="col mb-4 mt-5">
          <div class="card">
            <img src="{{event.pic.url}}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Name: {{event.title}}</h5>
              <p class="card-text">Description: {{event.description}}</p>
              <p class="card-text">Date: {{event.date}}</p>
              <p class="card-text">Time: {{event.time}}</p>
              <p class="card-text">Location: {{event.location}}</p>
              <p class="card-text">Capacity: {{event.capacity}}</p>
              <a href="{{event.get_absolute_url}}" class="btn" style="background-color:#E74C3C; color: white;">View</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      </div>
{% endblock content %}
